@model IEnumerable<Web.ConsumindoApi.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Usuários</h2>

<p>
    @*@Html.ActionLink("Novo Cadastro", "Create")*@

    <a href="@Url.Action("Create","Usuarios")"><i class="btn btn-success">Novo Cadastro</i></a>
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Senha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Senha)
        </td>
        <td>   
            <a href="@Url.Action("Edit","Usuarios", new { id = item.Id })"><i class="btn btn-warning">Editar</i></a> |
            <a href="@Url.Action("Details","Usuarios", new { id = item.Id })"><i class="btn btn-primary">Detalhes</i></a> |
            <a href="@Url.Action("Delete","Usuarios", new { id = item.Id })"><i class="btn btn-danger">Excluir</i></a> |
        </td>
    </tr>
}

</table>
